<?xml version="1.0"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Default bean name is 'mongo' -->
    <!-- <mongo:mongo host="172.31.105.102" port="27099" /> -->
    <bean id="mongoClientURI" class="com.mongodb.MongoClientURI">
        <constructor-arg type="java.lang.String"
                         value="mongodb://127.0.0.1/goodtime"/>
    </bean>

    <bean id="mongoDbFactory"
          class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
        <constructor-arg ref="mongoClientURI"/>
    </bean>

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoDbFactory"/>
    </bean>
    <!-- To translate any MongoExceptions thrown in @Repository annotated classes -->
</beans>